services:
  wordpress:
    image: wordpress
    restart: unless-stopped
    depends_on:
      - db
    ports:
      - 8080:80
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: exampleuser
      WORDPRESS_DB_PASSWORD: examplepass
      WORDPRESS_DB_NAME: exampledb
    volumes:
      - wordpress:/var/www/html
      - ./wp-content/plugins:/var/www/html/wp-content/plugins

  phpmyadmin:
    image: phpmyadmin
    restart: unless-stopped
    depends_on:
      - db
    ports:
      - 9000:80
    # environment:
    #   PMA_HOST: db
    #   PMA_PORT: 3306
    volumes:
      - ./sessions:/sessions
    expose:
      - "9000"

  db:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: exampledb
      MYSQL_USER: exampleuser
      MYSQL_PASSWORD: examplepass
      MYSQL_RANDOM_ROOT_PASSWORD: "1"
      MYSQL_ROOT_PASSWORD: 'sqlpassword'
    volumes:
      - db:/var/lib/mysql

volumes:
  wordpress:
  db:
